body {
  margin: 0;
  padding: 1%;
  font-size: 81.6%;
  line-height: 1.2em;
}

body * {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
  float: left;
  background-color: transparent;
  transition: all 1s ease 0s;
}

.cell {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

#wrapper {}

#north {}
#south { clear: both; }

#quadrant-nw tbody { clear: both; }
#quadrant-nw tbody tr { clear: both; }

#quadrant-ne {}
#quadrant-ne .row { clear: both; }
#quadrant-ne .cell:last-child { border-right: 1px solid #eeeeee; }

#quadrant-sw {}
#quadrant-sw .col {}
#quadrant-sw .cell { float: none; }
#quadrant-sw .cell:last-child { border-bottom: 1px solid #eeeeee; }

#quadrant-se {}
#quadrant-se ul { list-style-type: none; }
#quadrant-se > ul > li { clear: both; }
#quadrant-se > ul:last-child .cell { border-bottom: 1px solid #eeeeee; }
#quadrant-se .cell:last-child { border-right: 1px solid #eeeeee; }
