html * {
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

div {
  position: relative;
  width: 10vw;
  height: 10vw;
}
div:hover {
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  0%, 50%, 100% { top: 0; }
  25% { top: -3vw; }
  75% { top: -1vw; }
}

/* colors */
#top {
  background-image: url(../img/stars_light.gif);
  background-color: #ecf0f1;
}
#bottom {
  background-image: url(../img/stars_dark.gif);
  background-color: #2c3e50;
}
#one { background-color: #e74c3c; }
  #one svg circle { fill: #c0392b; }
  #one svg path { stroke: #c0392b; }
#two { background-color: #f39c12; }
  #two svg circle { fill: #e67e22; }
  #two svg path { stroke: #e67e22; }
#three { background-color: #2ecc71; }
  #three svg circle { fill: #27ae60; }
  #three svg path { stroke: #27ae60; }
#four { background-color: #3498db; }
  #four svg circle { fill: #2980b9; }
  #four svg path { stroke: #2980b9; }
#five { background-color: #9b59b6; }
  #five svg circle { fill: #8e44ad; }
  #five svg path { stroke: #8e44ad; }

/* for JQuery */
.gutter {
  width: 0;
  flex-grow: 1;
  background-color: transparent;
  transition: none;
  animation: none;
}
.gutter:hover {
  transition: none;
  animation: none;
}