$margin: 10px;
$padding: 10px;
$border: 1px;
$border-radius: 4px;
$box-shadow: 2px;

@mixin padding-color { background-color: lighten(#f00, 40%); }
@mixin margin-color { background-color: lighten(#0f0, 40%); }
@mixin content-color { background-color: lighten(#00f, 40%); }

@mixin multiplier($level) {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: $margin * $level;
	padding: $padding * $level;
	border: ($border * $level) solid black;
  border-radius: $border-radius * $level;
  box-shadow: ($box-shadow * $level / 2) ($box-shadow * $level / 2) ($box-shadow * $level * 2) rgba(0,0,0,0.3);
}

body {
  font-family: 'Shadows Into Light', cursive;
  font-size: 120%;
  letter-spacing: 1px; 
}

header.title {
  text-align: center;
}

section.diagram {
	$level: 4;
	@include multiplier($level);
  margin: $margin * $level;
  @include padding-color;
  background-clip: padding-box;

  header {
    $level: 3;
    @include multiplier($level);
    @include content-color;
  }
}

div.content {
  @include margin-color;
}

main {
	$level: 3;
	@include multiplier($level);
  float: left;
  width: 57.5%;
  @include padding-color;
  header {
    $level: 2;
    @include multiplier($level);
    @include content-color;
  }
}

article {
  $level: 2;
  @include multiplier($level);
  @include padding-color;

  h1 {
    $level: 1;
    @include multiplier($level);
    @include content-color;
  }

  p {
    $level: 1;
    @include multiplier($level);
    @include content-color;
  }
}

div.gutter {
  box-sizing: border-box;
  float: left;
  width: 5%;
}

aside {
  $level: 3;
  @include multiplier($level);
  @include padding-color;
  float: left;
  width: 37.5%;

  .content {
    padding-bottom: 200px;
  }

  p {
    $level: 2;
    @include multiplier($level);
    @include content-color;
  }
}

footer {
  $level: 3;
  @include multiplier($level);
  @include content-color;
  clear: both;
}

p.tag {
  margin: 0;
  padding: 0 $padding 0 $padding;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: -1em;
  left: 0.5em;
  background-color: white;
  text-transform: uppercase;
  border-radius: 6px;
}

section.key {
  $level: 4;
  @include multiplier($level);
  display: inline-block;
  margin: $margin * $level;
  padding: 0;

  .table {
    display: table;
    border-spacing: $padding * $level;
  }

  .row {
    display: table-row;
  }

  .cell {
    $level: 3;
    display: table-cell;
    @include multiplier($level);
    box-shadow: none;
  }

  .cell:first-of-type {
    @include margin-color;
    border: 0;
  }
  .cell:nth-of-type(3) {
    @include padding-color;
    border: 0;
  }
  .cell:nth-of-type(4) {
    @include content-color;
    border: 0;
  }
}